@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica"), url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Helvetica bold";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica bold"), url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: "Helvetica black";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica black"), url("/fonts/HelveticaNowDisplay-Black.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Black.woff") format("woff");
}
body {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #545460;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  padding: 48px 0;
  width: 100%;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 728px;
  }
}
@media screen and (min-width: 1087px) {
  .container {
    max-width: 1260px;
  }
}

.title {
  font-family: "Helvetica black";
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09375;
  color: #202523;
}

.button {
  background-color: #18E8A4;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
}

.header {
  background-color: #020213;
  padding-top: 48px;
  padding-bottom: 48px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  width: 137px;
  height: 37px;
  margin-right: auto;
}
.header-logo__svg {
  width: 100%;
  height: 100%;
}
.header-buttons {
  background-color: #020213;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-buttons:last-child {
  margin-left: 16px;
}
.header-buttons__svg {
  background-color: #020213;
  fill: white;
}
.header-buttons__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "Helvetica black";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica black"), url("/fonts/HelveticaNowDisplay-Black.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Black.woff") format("woff");
}
.hero {
  background-color: #020213;
  color: white;
}
.hero__title {
  font-family: "Helvetica black";
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 16px;
  color: white;
}
.hero__text {
  font-weight: 400;
  font-style: 16px;
  line-height: 1.5625;
  margin-bottom: 42px;
}
.hero__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__img {
  border-radius: 10px;
  width: 119px;
  display: block;
}
.hero__button {
  padding: 12px 16px;
}

.symbol {
  color: #18E8A4;
}

.text {
  font-size: 16px;
  line-height: 1.8125;
}

.about__title {
  margin-bottom: 31px;
}
.about__text {
  margin-bottom: 32px;
}

.recruitment {
  background-color: #D5D4D9;
}
.recruitment__title {
  margin-bottom: 24px;
  letter-spacing: -1px;
}
.recruitment__card {
  position: relative;
  height: 514px;
  padding: 32px 27px;
  background-color: white;
  border-radius: 16px;
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF), -o-linear-gradient(332.85deg, #1BD1FC 0%, #316DD1 100%);
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
}
.recruitment__stages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.0714285714;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.recruitment__title {
  margin-bottom: 24px;
}
.recruitment__text {
  line-height: 1.5625;
}

.card-1 {
  background-color: #FFFFFF;
  background-image: url(../../images/One.png);
  background-repeat: no-repeat;
  background-position: bottom 20% right 50%;
  background-size: 42% auto;
}

.card-2 {
  background-color: #FFFFFF;
  background-image: url(../../images/Two1.png);
  background-repeat: no-repeat;
  background-position: bottom 20% right 50%;
  background-size: 80%;
}

.card-3 {
  background-color: #FFFFFF;
  background-image: url(../../images/Two2.png);
  background-repeat: no-repeat;
  background-position: bottom 20% right 50%;
  background-size: 90%;
}

.arrows {
  position: relative;
  top: -70px;
  left: -400px;
}

.article {
  background-color: #AEA9A8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.article__title {
  color: white;
  margin-bottom: 55px;
}

.list-item__thumb {
  max-width: 280px;
  background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF), -o-linear-gradient(332.85deg, #1BD1FC 0%, #316DD1 100%);
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  padding: 32px 20px 40px;
}
.list-item__svg {
  width: 100%;
}
.list-item__title {
  font-family: "Helvetica black";
  color: #202523;
  letter-spacing: -1px;
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 800;
  margin-bottom: 24px;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.advantages-list__item:not(:last-child)::after {
  content: "";
  border-bottom: 1px solid rgba(72, 85, 99, 0.2);
  display: block;
  position: relative;
  bottom: -10px;
  height: 1px;
  width: 100%;
}

.vacancies {
  background-color: #001427;
  color: #FFFFFF;
}
.vacancies__title {
  display: block;
  text-align: center;
  color: white;
  margin-bottom: 48px;
}
.vacancies__input {
  background-color: #001427;
  border: none;
  border-bottom: 2px solid #485563;
  width: 100%;
  height: 30px;
}
.vacancies__input:not(:last-child) {
  margin-bottom: 24px;
}
.vacancies__input:last-child {
  margin-bottom: 32px;
}
.vacancies__button {
  width: 50px;
  height: 50px;
  background-color: #001427;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.development {
  padding-top: 32px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  background-image: -o-radial-gradient(600px -150px, circle, rgba(102, 101, 221, 0.2) 25%, rgba(255, 255, 255, 0.4) 40%), -o-radial-gradient(-30px 400px, circle, rgba(255, 107, 54, 0.2) 15%, rgba(255, 255, 255, 0.4) 30%), -o-radial-gradient(360px 370px, circle, rgba(46, 199, 255, 0.2) 15%, rgba(255, 255, 255, 0.4) 30%), -o-radial-gradient(400px 600px, circle, rgba(235, 159, 239, 0.6) 25%, rgba(255, 255, 255, 0.4) 40%), -o-radial-gradient(-150px 550px, circle, rgba(228, 0, 102, 0.2) 5%, rgba(255, 255, 255, 0.4) 20%), -o-radial-gradient(150px 750px, circle, rgb(250, 210, 4) 25%, rgba(255, 255, 255, 0.4) 50%), -o-radial-gradient(50% 65%, circle, rgb(229, 99, 153) 35%, rgba(255, 255, 255, 0.4) 60%);
  background-image: radial-gradient(circle at 600px -150px, rgba(102, 101, 221, 0.2) 25%, rgba(255, 255, 255, 0.4) 40%), radial-gradient(circle at -30px 400px, rgba(255, 107, 54, 0.2) 15%, rgba(255, 255, 255, 0.4) 30%), radial-gradient(circle at 360px 370px, rgba(46, 199, 255, 0.2) 15%, rgba(255, 255, 255, 0.4) 30%), radial-gradient(circle at 400px 600px, rgba(235, 159, 239, 0.6) 25%, rgba(255, 255, 255, 0.4) 40%), radial-gradient(circle at -150px 550px, rgba(228, 0, 102, 0.2) 5%, rgba(255, 255, 255, 0.4) 20%), radial-gradient(circle at 150px 750px, rgb(250, 210, 4) 25%, rgba(255, 255, 255, 0.4) 50%), radial-gradient(circle at 50% 65%, rgb(229, 99, 153) 35%, rgba(255, 255, 255, 0.4) 60%);
}
.development__title {
  margin-bottom: 24px;
  letter-spacing: -1px;
}
.development-list {
  margin-bottom: 32px;
}
.development-list__item {
  margin-bottom: 10px;
}
.development__button {
  padding: 27px 16px;
  width: 100%;
  color: #545460;
  font-weight: 800;
}

.card {
  background-color: #FFFFFF;
  padding: 32px 30px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.09), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.09), 0px 6px 8px rgba(0, 0, 0, 0.09), 0px 4px 4px rgba(0, 0, 0, 0.09), 0px 2px 2px rgba(0, 0, 0, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.card__title {
  font-family: "Helvetica black";
  font-size: 24px;
  line-height: 1.0833333333;
  font-weight: 800;
  margin-bottom: 16px;
  letter-spacing: -1px;
}

.perks {
  margin-top: 80px;
  background-color: #FCF7F8;
}
.perks__title {
  margin-bottom: 66px;
}
.perks-list {
  margin-bottom: 48px;
}
.perks-item__thumb {
  background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF), -o-linear-gradient(332.85deg, #1BD1FC 0%, #316DD1 100%);
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  padding: 32px 20px;
  height: 560px;
}
.perks-item__svg {
  display: block;
  margin: 0 auto 48px;
}
.perks-item__title {
  letter-spacing: -1.5px;
  font-weight: 800;
  margin-bottom: 24px;
}
.perks-item__text {
  font-size: 16px;
  line-height: 1.625;
}

.form {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  padding-top: 62px;
}
.form__request {
  margin-bottom: 16px;
  letter-spacing: -1px;
  display: block;
}
.form__text {
  line-height: 1.5625;
  margin-bottom: 32px;
}
.form__box {
  position: relative;
}
.form__label {
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-transition: top 250ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: top 250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: top 250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.form__input {
  margin-bottom: 37px;
  border: none;
  border-bottom: 1px solid #A4AFC1;
  width: 100%;
  height: 30px;
}
.form__input:focus ~ .form__label {
  top: -20px;
}
.form__message {
  margin-bottom: 16px;
}
.form__submit {
  padding: 20px 16px;
  width: 100%;
}

.upload-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}
.upload-box__button {
  border-radius: 10px;
  border: none;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 22px;
}
.upload-box__attention {
  font-size: 12px;
  line-height: 1.5;
  color: #828893;
  margin-bottom: 18px;
}

.footer {
  padding: 27px 0 32px;
  background-color: black;
}
.footer__rights {
  color: #29323C;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 1.5714285714;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}
.footer-list__item:not(:last-child) {
  margin-right: 16px;
}
.footer-list__link {
  color: #A4AFC1;
  font-size: 13px;
  line-height: 1.5384615385;
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-social-list__item:not(:last-child) {
  margin-right: 18px;
}/*# sourceMappingURL=main.css.map */