// --------------background colors--------------
$form-color: #001427;
$background-black: #020213;
$special-color: #18E8A4;
$recruitment-bg-color: #D5D4D9;

// -------------text colors------------
$headers-text-color: #202523;
$about-text-color: #485563;
$card-text-color: #596067;
$vacancies-text-color: #545460;
$form-text-color: #5E636B;
$form-attention-color: #828893;
$footer-message: #29323C;
$footer-list-color: #A4AFC1;
$recruitment-article-bgcolor: #AEA9A8;

